@import "functions";

.creations {

    .container {
        justify-content: center;

        @media (min-width: 64em) {
            justify-content: space-between;
            width: rem(1114);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: rem(82);
        }
    }

    &__title {
        margin-top: rem(98);
        margin-bottom: rem(49);

        @media (min-width: 64em) {
            margin: 0px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: rem(327);
        grid-template-rows: repeat(8, rem(120));
        justify-content: center;
        row-gap: rem(24);

        @media (min-width: 64em) {
            grid-template-columns: repeat(4,rem(256));
            grid-template-rows: repeat(2, rem(450));
            row-gap: rem(30);
            column-gap: rem(30);
        }

        &__image {
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            transition: opacity 300ms ease-in-out;

            &:hover {
                opacity: 0.3;
                //color: $black;
            }
        }

        .deepEarth {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-deep-earth.jpg');
            
            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-deep-earth.jpg');
            }
        }

        .nightArcade {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-night-arcade.jpg');

            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-night-arcade.jpg');
            }
        }

        .soccerTeam {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-soccer-team.jpg');

            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-soccer-team.jpg');
            }
        }

        .grid {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-grid.jpg');

            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-grid.jpg');
            }
            
            h2 {
                width: rem(100);
            }
        }

        .fromAbove {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-from-above.jpg');

            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-from-above.jpg');
            }
        }

        .pocketBorealis {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-pocket-borealis.jpg');

            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-pocket-borealis.jpg');
            }
        }

        .curiosity {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-curiosity.jpg');

            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-curiosity.jpg');
            }
        }

        .fisheye {
            background-image: 
            linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
            url('../../images/mobile/image-fisheye.jpg');

            @media (min-width: 64em) {
                background-image: 
                linear-gradient(to top, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0)),
                url('../../images/desktop/image-fisheye.jpg');
            }
        }

    }

    &__seeAll {

        width: rem(156);
        font-size: rem(14);
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: rem(5);
        padding: rem(9) 0px;
        border: rem(1.5) solid;
        
        background-color: $white;

        transition: all 200ms ease-in-out;

        &:hover {
            background-color: $black;
            color: $white;
            border-color: $black;
        }
        
        &.mobile {
            margin: rem(34) auto;
        }

        &.desktop {
            margin: 0px 0px;
            padding: 0px;
            height: rem(42);
        }
    }
}