@import "functions";

.footer {
    background-color: $black;
    
    .container {
        text-align: center;
        font-family: 'Alata', sans-serif;
        padding: rem(56) 0px;

        @media (min-width: 64em) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            grid-template-areas: 
                "logo social"
                "links copyright";
            row-gap: rem(25);
            column-gap: rem(30);
            justify-items: start;
            padding: rem(47) 0px;
        }
    }

    &__logo {

        @media (min-width: 64em) {
            grid-area: logo;
        }

        img {
            height: rem(24);
        }

    }

    &__links {
        flex-direction: column;
        line-height: 2.8;
        margin-top: rem(25);
        margin-bottom: rem(40);

        a {
            text-decoration: none;
            color: $white;
            
        }

        @media (min-width: 64em) {

            grid-area: links;
            flex-direction: row;
            margin: 0px;
            line-height: normal;

            a {
                position: relative;
    
                &:not(:last-child){
                    margin-right: rem(30);
                }
    
                &::before {
                    content: "";
                    height: 2px;
                    width: 24px;
                    background-color: $white;
                    position: absolute;
                    top: 30px;
                    left: 0px;
                    right: 0px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block; 
                    opacity: 0;
                    transition: opacity 300ms ease-in-out;
                }
    
                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__social {

        @media (min-width: 64em) {
            justify-self: end;
            grid-area: social;
        }

        a {
            text-decoration: none;
            position: relative;

            &:not(:last-child) {
                margin-right: 14px;
            }

            &::before {
                content: "";
                height: 2px;
                width: 24px;
                background-color: $white;
                position: absolute;
                top: 25px;
                left: 0;
                display: block; 
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__copyright {
        color: $veryDarkGray;
        margin-top: rem(14);

        @media (min-width: 64em) {
            justify-self: end;
            margin: 0px;
            grid-area: copyright;
        }
    }
}