@import "functions";

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: rem(15);
    font-weight: 300;
    
}

h1 {
    font-size: rem(32);
    font-weight: 300;
    text-align: center;

    @media (min-width: 64em) {
        font-size: rem(48);
    }
}

h2 {
    color: $white;
    text-transform: uppercase;
    font-size: rem(22);
    position: relative;
    top: rem(53);
    left: rem(21);
    font-weight: 300;
    width: rem(115);
    margin-top: 0px;
    margin-bottom: 0px;
    transition: color 200ms ease-in-out;

    @media (min-width: 64em) {
        font-size: rem(32);
        width: rem(165);
        top: rem(355);
        left: rem(42);
    }
}

.container {
    max-width: rem(1114);
    margin: 0 auto;
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

.hide-for-desktop {
    @media (min-width: 64em) {
        display: none;
    }
}

.hide-for-mobile {
    @media (max-width: 63.9375em) {
        display: none;
    }
}

.no-scroll {
    overflow: hidden;
}

