@import "functions";

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: rem(15);
    font-weight: 300;
    
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

.hide-for-desktop {
    @media (min-width: 64em) {
        display: none;
    }
}

.hide-for-mobile {
    @media (max-width: 63.9375em) {
        display: none;
    }
}