@import "functions";

.interactive {
    flex-direction: column;

    @media (min-width: 64em) {
        flex-direction: row;
        position: relative;
        margin-bottom: rem(184);
    }


    &__image {
        background-image: url('../../images/mobile/image-interactive.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(327);
        height: rem(224);
        margin-top: rem(96);

        @media (min-width: 64em) {
            background-image: url('../../images/desktop/image-interactive.jpg');
            width: rem(732);
            height: rem(501);
            margin-top: rem(160);
            margin-left: rem(165);
        }
    }

    &__text {
        flex-direction: column;
        
        @media (min-width: 64em) {
            width: rem(542);
            padding-top: rem(97);
            padding-left: rem(97);
            background-color: $white;

            position: absolute;
            bottom: 0;
            left: rem(734);
        }
    }

    &__title {
        margin-top: rem(49);
        margin-bottom: rem(18);

        @media (min-width: 64em) {
            text-align: left;
            margin-top: 0px;
        }
    }

    &__details {
        font-family: 'Alata', sans-serif;
        color: $darkGray;
        width: rem(272);
        text-align: center;
        line-height: 1.7;
        margin-top: 0px;
        margin-bottom: 0px;

        @media (min-width: 64em) {
            width: auto;
            text-align: left;
        }
    }




}