html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.header {
  background-image: url("../../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.6875rem;
}

@media (min-width: 64em) {
  .header {
    height: 40.625rem;
  }
}

@media (min-width: 64em) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../images/desktop/image-hero.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/desktop/image-hero.jpg");
  }
}

.header.open {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: linear-gradient(black, black);
}

.header.open .header__toggle > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header nav {
  padding: 2.5rem 1.5rem;
}

@media (min-width: 64em) {
  .header nav {
    padding: 4rem 10.3125rem;
  }
}

.header__logo img {
  width: 9rem;
  height: auto;
  vertical-align: bottom;
}

@media (min-width: 64em) {
  .header__logo img {
    height: 2rem;
    width: auto;
  }
}

.header__toggle > span {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 2px 1px;
          transform-origin: 2px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header__links a {
  text-decoration: none;
  font-family: 'Alata', sans-serif;
  color: white;
  font-weight: 400;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 1.875rem;
}

.header__links a::before {
  content: "";
  height: 0.125rem;
  background-color: white;
  position: absolute;
  top: 1.875rem;
  left: 0.9375rem;
  right: 0.9375rem;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 6.875rem;
}

.header__menu a {
  text-decoration: none;
  color: white;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.2;
  margin-left: 1.5rem;
}

.header__text {
  color: white;
  font-size: 2.375rem;
  margin: 7.5rem 1.5rem;
  padding: 1.5rem 1.875rem 1.5rem 1.5rem;
  border: solid white;
}

@media (min-width: 64em) {
  .header__text {
    font-size: 4.125rem;
    margin-top: 4.125rem;
    margin-right: 39rem;
    margin-bottom: 9.0625rem;
    margin-left: 10.3125rem;
    padding: 2.5rem 0rem 2.1875rem 2.8125rem;
  }
}

.interactive {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .interactive {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    margin-bottom: 11.5rem;
  }
}

.interactive__image {
  background-image: url("../../images/mobile/image-interactive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20.4375rem;
  height: 14rem;
  margin-top: 6rem;
}

@media (min-width: 64em) {
  .interactive__image {
    background-image: url("../../images/desktop/image-interactive.jpg");
    width: 45.75rem;
    height: 31.3125rem;
    margin-top: 10rem;
    margin-left: 10.3125rem;
  }
}

.interactive__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .interactive__text {
    width: 33.875rem;
    padding-top: 6.0625rem;
    padding-left: 6.0625rem;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 45.875rem;
  }
}

.interactive__title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-top: 3.0625rem;
  margin-bottom: 1.125rem;
}

@media (min-width: 64em) {
  .interactive__title {
    font-size: 3rem;
    text-align: left;
    margin-top: 0px;
  }
}

.interactive__details {
  font-family: 'Alata', sans-serif;
  color: #8c8c8c;
  width: 17rem;
  text-align: center;
  line-height: 1.7;
  margin-top: 0px;
}

@media (min-width: 64em) {
  .interactive__details {
    width: auto;
    text-align: left;
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=style.css.map */